body {
	background: #212529;
}
header {
	padding: 40px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 80px;
	margin-bottom: 10%
  }
li {
	font-size: auto;
}
ul{
	margin-top: 0%
}

.col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
	padding-left: 15px;
	background: #1abc9c
}

.h6, h6 {
    font-size: 1rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
	color: inherit;
	white-space: nowrap;
}